<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Recipes</title>
  </head>
  <body>
    <h1>Welcome to My Recipes</h1>
    <% if (recipes > 0) { %>
      <ul>
          <% recipes.forEach(recipe => { %>
              <li>
                  <h2><%= recipe.name %></h2>
                  <p><%= recipe.instructions %></p>
              </li>
          <% }) %>
      </ul>
  <% } else { %>
      <p>You have not created any recipes yet.</p>
  <% } %>
    <a href="recipes/new">Add a new recipe</a>
  </body>
</html>